/*-----------
    reset
-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------
    Typ0
-----------*/
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*-----------
    main
-----------*/
header{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
/*-----------
    main
-----------*/
.container{
    padding-top: 50px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.animal_container{
    height: 70px;
    width: 150px;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px;
    flex-direction: column;
}

.text-color{
    color: black;
    font-size: 16px;
}

.d-none{
    display: none;
}